.main {
  position: relative;
  background-color: white;
  height: 100%;
  width: 100%;
  border: 5px solid #fff;
  overflow: hidden;
}
.image {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  transition: opacity 1s ease-in-out;
  text-align: center;
}
.image img {
  height: 100%;
  width: 100%;
  transition: opacity 1s ease-in-out;
}
.icon {
  transform: scale(1.5);
}
.btn {
  top: 40%;
  border-radius: 30%;
  font-weight: bold;
  color: darkgray;
  border: 1px solid #e2e2e2;
  outline: none;
  outline-style: none;
  background-color: rgba(255, 255, 255, 1);
  transition: 0.2s;
}
.btn:hover {
  cursor: pointer;
  padding-top: 11px;
}
.buttonNext {
  padding: 10px 20px 10px 10px;
  right: -20px;
  position: absolute;
  z-index: 102;
  -webkit-box-shadow: -7px 5px 19px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -7px 5px 19px -7px rgba(0, 0, 0, 0.75);
  box-shadow: -7px 5px 19px -7px rgba(0, 0, 0, 0.75);
}
.buttonPrev {
  padding: 10px 10px 10px 20px;
  left: -20px;
  position: absolute;
  z-index: 102;
  -webkit-box-shadow: 7px 5px 19px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 5px 19px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 5px 19px -7px rgba(0, 0, 0, 0.75);
}
