.caption{
    width: 250px;
    height: 50px;
    font-size: 25px;
    margin-left: 550px;
    margin-top: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}